@charset "UTF-8";

@use "sass:list";
@use "sass:string";

/* FUNCTIONS */

@function str-replace($haystack, $needle, $replace-txt) {
    $index: string.index($haystack, $needle);
    @if $index {
        @return string.slice($haystack, 1, $index - 1) + $replace-txt
              + str-replace(string.slice($haystack, $index + string.length($needle)), $needle, $replace-txt);
    }
    @return $haystack;
}

/* FONTS */

$font-families: (
    'Roboto Condensed': (
        ('RobotoCondensed-Thin', 100, normal),
        ('RobotoCondensed-ThinItalic', 100, italic),
        ('RobotoCondensed-ExtraLight', 200, normal),
        ('RobotoCondensed-ExtraLightItalic', 200, italic),
        ('RobotoCondensed-Light', 300, normal),
        ('RobotoCondensed-LightItalic', 300, italic),
        ('RobotoCondensed-Regular', 400, normal),
        ('RobotoCondensed-Italic', 400, italic),
        ('RobotoCondensed-Medium', 500, normal),
        ('RobotoCondensed-MediumItalic', 500, italic),
        ('RobotoCondensed-SemiBold', 600, normal),
        ('RobotoCondensed-SemiBoldItalic', 600, italic),
        ('RobotoCondensed-Bold', 700, normal),
        ('RobotoCondensed-BoldItalic', 700, italic),
        ('RobotoCondensed-ExtraBold', 800, normal),
        ('RobotoCondensed-ExtraBoldItalic', 800, italic),
        ('RobotoCondensed-Black', 900, normal),
        ('RobotoCondensed-BlackItalic', 900, italic)
    )
);
@mixin font-face($font-family, $full-name, $postscript-name, $font-weight, $font-style) {
    $font-family-dashed: string.to-lower-case(str-replace($font-family, ' ', '-'));
    @font-face {
        font-family: $font-family;
        src:
            local('#{$full-name}'), local('#{$postscript-name}'),
            url('../../fonts/#{$font-family-dashed}/ttf/#{$postscript-name}.ttf') format('truetype');
        font-weight: $font-weight; font-style: $font-style;
    }
}
@each $font-family, $variations in $font-families {
    @each $variation in $variations {

        // Extract elements
        $postscript-name: list.nth($variation, 1);
        $font-weight: list.nth($variation, 2);
        $font-style: list.nth($variation, 3);

        // Generate full name (w/ style) for 1st `local()`
        $full-name: '#{$font-family}';
        $style: string.slice($postscript-name, string.index($postscript-name, '-') + 1);
        @if $style != 'Regular' { // insert spaces

            // Find indices of uppercase letters
            $upper-indices: ();
            @for $i from 2 through string.length($style) { // start at 2 since 1st char is irrelevant to spacing
                $char: string.slice($style, $i, $i);
                @if $char == string.to-upper-case($char) { $upper-indices: list.append($upper-indices, $i); }
            }

            // Insert spaces if needed
            @if list.length($upper-indices) > 0 {
                $offset: 0;
                @each $index in $upper-indices {
                    $index: $index + $offset; // since each iteration increases length +1
                    $style: string.insert($style, " ", $index); // insert the space
                    $offset: $offset + 1;
                }
            }

            $full-name: '#{$font-family} #{$style}';
        }

        @include font-face($font-family, $full-name, $postscript-name, $font-weight, $font-style);
    }
}

/* GENERAL */

*:not(.container) { box-sizing: border-box }
a, .submit-btn { text-decoration: none ; cursor: crosshair }
body {
    color: #fff ; background-color: #000 ; padding-top: 12vh ;
    text-align: center ; font-size: 14px ; line-height: 20px ;
    font-family: 'Roboto Condensed', sans-serif }
canvas { /* Matrix bg */
    position: fixed ; width: 100% ; height: 100% ; left: 0 ; top: 0 ; z-index: -1 }
.dg.ac { display: none }
.container {
    max-width: 940px ; margin-left: auto ; margin-right: auto ;
    grid-column-gap: 16px ; grid-row-gap: 16px ; flex-direction: column ;
    grid-template-columns: 1fr 1fr ; grid-auto-columns: 1fr ; align-items: stretch
}
.hero-logo {
    width: 100% ; max-width: 975px ; flex: 1 ; align-self: center ;
    margin-top: 10vh ; margin-bottom: 42px }

/* CTA */

.join {
    width: 42% ; float: left ; letter-spacing: 4px ; text-transform: uppercase ;
    margin: 11px 0 55px ; font-size: 22px ; display: block }
.beta-line {
    width: 29% ; height: 1px ; float: left ; position: relative ; top: 21px ;
    background-color: rgba(255,255,255,0.36)
}

/* SIGNUP FORM */

.sign-up-form { width: 415px ; margin: 35px auto 66px ; display: block }
.input {
    width: 100% ; height: 38px ; color: #333 ; background-color: #fff ; display: block ;
    border: 1px solid #ccc ; margin-bottom: 10px ; padding: 8px 12px ; font-size: 14px ; line-height: 1.42857 ;
    &:focus { border-color: #3898ec ; outline: 0 }}

.field {
    --transition: box-shadow 0.15s ;
    height: 54px ; color: white ; text-align: center ; text-transform: uppercase ;
    border: 1px solid white ; margin-bottom: 19px ; padding-left: 20px ; padding-right: 20px ;
    font-size: 16px ; background: rgba(0,0,0,0.28) ;
    transition: var(--transition) ; -webkit-transition: var(--transition) ; -moz-transition: var(--transition) ;
        -o-transition: var(--transition) ; -ms-transition: var(--transition) ;
    &:focus { box-shadow: inset 0 0 0 2px #00caf2 }}
.submit-btn {
    --transition: background-color 0.15s, color 0.15s ;
    width: 100% ; height: 54px ; color: #fff ; text-align: center ; text-transform: uppercase ; display: block ;
    border: 3px solid #fff ; margin-left: -1px ; padding: 4px 29px ; background: rgba(0,0,0,0.85) ;
    font-size: 22px ; font-weight: 700 ; text-decoration: none ;
    transition: var(--transition) ; -webkit-transition: var(--transition) ; -moz-transition: var(--transition) ;
        -o-transition: var(--transition) ; -ms-transition: var(--transition) ;
    &:hover { color: #000 ; background-color: #fff }}

/* FOOTER */

.badges { margin: 3px 0 } .badges > a { cursor: pointer }
.f6s-badge { opacity: 0 ; height: 49px ; width: auto }
footer { color: #7e7c87 ; padding: 38px 0 34px ; position: fixed ; bottom: 0 ; left: 0 ; right: 0 }
.copyright { color: rgba(255,255,255,0.52) ; text-align: center ; margin-bottom: 16px }
.social-btn {
    opacity: .44 ; margin: 12px ; --transition: all 0.2s ; cursor: pointer ;
    transition: var(--transition) ; -webkit-transition: var(--transition) ; -moz-transition: var(--transition) ;
        -o-transition: var(--transition) ; -ms-transition: var(--transition) ;
    &:hover { opacity: 1 }
}
a[href*="crisp.chat"] { opacity: 0 ; pointer-events: none }

@media screen and (max-width: 991px) { .hero-logo { width: 75vw } .join { width: 50% } .beta-line { width: 25% }}

@media screen and (max-width: 767px) { .hero-logo { width: 100% ; margin: 17vh 0 45px ; padding: 0 10px }}

@media screen and (max-width: 479px) {
    .container, .hero-logo { padding: 0 10px }
    .join { width: 75% ; font-size: 19px ; margin-bottom: 35px }
    .beta-line { width: 12% } .sign-up-form { width: 100% ; margin-top: 22px }
    .badges { margin: 13px 0 } /* increase y-space footer badges */
    .social-btn { margin-right: 17px } /* spread footer icons out */
}
